x.full_table--p8W8uFb {
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
}
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, select, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}
.container--1QYG-ik {
    background: #fff;
}
.p15 {
    padding: 15px!important;
}

.pfc3 {
    color: #3e3e3e!important;
}
.agent__trip-id, .fw7 {
    font-weight: 700;
}
.apfc1{
    color: #2a92bd !important;
}
.f16 {
    font-size: 16px;
    line-height: 20px;
}
.p15 {
    padding: 15px!important;
}
.pfc3 {
    color: #3e3e3e!important;
}
.agent__trip-id, .fw7 {
    font-weight: 700;
}
.f16 {
    font-size: 16px;
    line-height: 20px;
}
.container--1QYG-ik .spocButton--2y1Agou {
    border-bottom: 1px solid #2a92bd;
}
.mb15 {
    margin-bottom: 15px!important;
}
.mb15 {
    margin-bottom: 15px!important;
}
.container--1QYG-ik .spocButton--2y1Agou span {
    padding: 15px 32px;
    border: 1px solid #2a92bd;
    position: relative;
    border-bottom: 0;
}

.agent__trip-id, .iblock {
    display: inline-block!important;
}
.ml15 {
    margin-left: 15px!important;
}
.agent__trip-id, .apfc1 {
    color: #2a92bd;
}
.fw9 {
    font-weight: 900;
}
.f16 {
    font-size: 16px;
    line-height: 20px;
}
.agent__trip-id, .iblock {
    display: inline-block!important;
}
.ml15 {
    margin-left: 15px!important;
}
.agent__trip-id, .apfc1 {
    color: #2a92bd;
}
.fw9 {
    font-weight: 900;
}
.container--1QYG-ik .spocButton--2y1Agou span:before {
    content: "";
    position: absolute;
    width: 100%;
    background: #fff;
    height: 2px;
    left: 0;
    bottom: -2px;
}
.table--1OcMaq_ {
    table-layout: fixed;
}

.text-center {
    text-align: center;
}
.wfull {
    width: 100%!important;
}
.text-center {
    text-align: center;
}
.wfull {
    width: 100%!important;
}
table {
    width: 100%;
    border-radius: 4px;
}
table, td, th {
    border: 1px solid #e7e8ed;
    border-collapse: collapse;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table--1OcMaq_ thead {
    background: #f5f5f5;
}
.table--1OcMaq_ th:first-child {
    text-align: left;
    width: 30%;
}

.table--1OcMaq_ th {
    vertical-align: top;
}
.border {
    border: 1px solid #f0f0f0;
}
.text-center {
    text-align: center;
}
.pb8 {
    padding-bottom: 8px!important;
}
.pt8 {
    padding-top: 8px!important;
}
.border {
    border: 1px solid #f0f0f0;
}
.text-center {
    text-align: center;
}
.pb8 {
    padding-bottom: 8px!important;
}
.pt8 {
    padding-top: 8px!important;
}
th {
    background: #f6f6f6;
}
.flexDColumn {
    flex-direction: column;
}

.flex, .unReadCount {
    display: flex!important;
}
.flexDColumn {
    flex-direction: column;
}
.flex {
    display: flex!important;
}
.apfc1 {
    color: #2a92bd;
}
.justifyCenter, .unReadCount {
    justify-content: center;
}
.mr8 {
    margin-right: 8px!important;
}

.pfc3 {
    color: #3e3e3e!important;
}
.agent__trip-id, .fw7 {
    font-weight: 700;
}
.f12 {
    font-size: 12px;
    line-height: 16px;
}
.mr8 {
    margin-right: 8px!important;
}
.pfc3 {
    color: #3e3e3e!important;
}
.right--2ydg_Qb {
    color: #00f;
}

.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.right--2ydg_Qb {
    color: #00f;
}
.relative {
    position: relative!important;
}
.right--2ydg_Qb {
    color: #00f;
}
.relative {
    position: relative!important;
}

.infoIcon--L_CBE2W {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.infoIcon--L_CBE2W svg {
    width: 12px;
    height: 12px;
    display: block;
}
svg {
    max-height: 100%;
}
.scroll_table--3wWQjhe {
    max-height: 50vh;
    overflow-y: overlay;
}

.overflowa {
    overflow: auto;
}

.table--1OcMaq_ {
    table-layout: fixed;
}
.wfull {
    width: 100%!important;
}
.table--1OcMaq_ td:first-child, .table--1OcMaq_ th:first-child {
    text-align: left;
    width: 30%;
}
.color--1vmFrF0 {
    color: #000;
}
.border {
    border: 1px solid #f0f0f0;
}
.pr15 {
    padding-right: 15px!important;
}

.apfc1 {
    color: #56c4c1;
}

.fw9 {
    font-weight: 900;
}
.f20, .f24 {
    line-height: 28px;
}
.f24 {
    font-size: 24px;
}

.border {
    border: 1px solid #f0f0f0;
}
.pr15 {
    padding-right: 15px!important;
}
.pl15 {
    padding-left: 15px!important;
}
.pb8 {
    padding-bottom: 8px!important;
}
.pt8 {
    padding-top: 8px!important;
}
.pfc4 {
    color: #b2b2b2!important;
}
table, td {
    border: 1px solid #e7e8ed;
    border-collapse: collapse;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
}
.justifyEnd {
    justify-content: flex-end;
}
.mt15 {
    margin-top: 15px!important;
}

.p15 {
    padding: 15px!important;
}
.mr24 {
    margin-right: 24px!important;
}
.mb4 {
    margin-bottom: 4px!important;
}
.pfc4 {
    color: #b2b2b2!important;
}